@model InstrumentationAccountingSystem2.Models.Type

<h5>Изменить тип СИ</h5>
<form asp-action="EditType" asp-controller="home" asp-route-id="@Model">
    <p hidden>
        <label asp-for="Id">Id</label><br />
        <input type="text" asp-for="Id" value="@Model.Id" />
        <span asp-validation-for="Id"></span>
    </p>
    <p>
        <label asp-for="Name">Name</label><br />
        <input type="text" asp-for="Name" value="@Model.Name" />
        <span asp-validation-for="Name"></span>
    </p>
    <p>
        <input type="submit" value="Изменить" />
    </p>
</form>
<form asp-controller="Home" asp-action="DeleteTypeById" method="post" asp-route-id="@Model.Id">
    <input type="submit" onclick="return confirm('Вы уверены, что хотите удалить этот тип?');" value="Удалить" style="color:red" />
</form>